.App{
  height: 100%;
  width: 100%;
  margin: 0;
}
#header{
  display: flex;
  justify-content: center;
  margin: 0;
  height: 4rem;
  width: 100%;
  background-color: #333;
}

#url-input{
  
  margin: 0;
  width: 80%;
  height: 1.5rem;
  border-radius: 7px;
  
  align-self: center;
  border: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#parse-button{
  height: 1.6rem;
  align-self: center;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border: 0;
  font-weight: bold;
  color: #884dff;
  background-color:  #666;
}



#url-bar:focus{
  border: none;
}

#main{
  background-color: #666;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#video-container{
  width: 100%;
  max-width: 1000px;
  position: relative;
  overflow: hidden;
  background-color: none;
  justify-self: center;
  height: auto;
}

#video-title{
  justify-self: center;
}

#current-title{
  font-weight: bold;
  font-size: 1.5rem;
}



#video{
  width: 100%;
}


#video-container:hover .controls{
  transform: translateY(0);
}

#live-icon{
  display: none;
  position: absolute;
  height: 1rem;
  background: rgba(226, 18, 18, 0.67);
  top: 1.5rem;
  right: 1.5rem;
  text-align: center;
  border-radius: 5px;
  padding: 0.5rem;
  padding-top: 0;
}

.live-text{
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
  color: #fff;
}
.controls{
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.7);
  transform: translateY(100%) translateY(-3.5px);
}
.buttons {
  padding: 5px;
}
.buttons button{
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.buttons button::before{
  content: "\f04c";
  font-weight: 700;
  font-family: "Font Awesome 5 Free";
  width: 20px;
  height: 20px;
  display: inline-block;
  font-size: 17px;
  color: #884dff;
  -webkit-font-smoothing: antialiased;
  align-content: center;
}

.buttons button.play::before{
  content: '\f04b'!important;
  font-weight: 700;
  font-family: "Font Awesome 5 Free";
  color: #884dff;
}

.buttons button.pause::before{
  content: "\f04c"!important;
  font-weight: 700;
  font-family: "Font Awesome 5 Free"; 
  color: #884dff;
}

#bar{
  height: 3.5px;
  top: 0;
  left: 0;
  width: 100%;
}

#juice{
  height: 3.5px;
  background-color: #884dff;
}
#time{
  font-size: 0.7rem;
  color: white;
}

#volume-container{
  display: flex;
  margin-left: auto;
  justify-self: flex-end;
  border: 0;
  outline: 0;
  padding: 5px;
  align-items: center;
}

#volumeIcon::before{
  content: "\f028";
  font-weight: 700;
  font-family: "Font Awesome 5 Free";
  width: 20px;
  height: 20px;
  font-size: 17px;
  display: inline-block;
  color: #884dff;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  align-content: center;
}

#volume-bar{
  margin-left: 3px;
  height: 3px;
  top: 0;
  left: 0;
  width: 3rem;
  background-color: black;
}

#volume-juice{
  height: 3px;
  background-color: #884dff;
}

#footer{
  background-color: #333;
  height: auto;
  min-height: 20rem;
}

#footer-container{
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.video-card{
  height: 100%;
}

.title-container{
  margin-top: 1rem;
  height: 1.5rem;
  overflow: hidden;
}
.title{
  color: #884dff;
  cursor: pointer;
}

.title:hover{
  text-decoration: underline;
}

.video-thumbnail{
  margin-top: 1rem;
  border-radius: 15px;
  cursor: pointer;
}

.thumbnail{
  border-radius: 15px;
  height: 100%;
  width: 100%;
  max-width: 20rem;
  max-height: 15rem;
}

@media(max-width: 810px){
  #footer-container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

}